body {
    margin: 0;
    padding: 0;
}

#game-screen{
    display: block;
}  

#gameOver,#playHUD{
    position: absolute;
    visibility: hidden;
}

h1, h2, h3 {
    font-family: 'Press Start 2P', cursive;
    color: lightskyblue;
    text-align: center;
    
}

.title{
    font-size: 50px;
}

#restartButton {
    border: 3px solid lightskyblue;
    border-radius: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton:hover {
    background-color: orchid;
}

#scoreboard {
    margin: 0px;
}